
name: Upload to S3
on:
  push:
      branches:
        - main
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Create tarball
        run:
          tar cvzf --exclude-vcs terminal-lerning-course-case-study-materials.tar.gz ./

      - name: Deploy to S3
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        run:
          aws --region ap-northeast-1 s3 cp ./terminal-lerning-course-case-study-materials.tar.gz s3://20220925terminal-lerning-course-case-study-materials/
